.sidePanel {
  display: flex;
  flex-direction: column;
  width: 18%;
  min-height: 100vh;
  background: #ffffff;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.350);
  border: none;
  align-items: center;
}

.sidePanel img {
  width: 100%;
  height:auto;
}

.sidePanel svg {
  font-size: 20px;
  vertical-align: middle;
  margin-left: 50px;
  margin-right: 25px;
}

.sidePanel a {
  padding: 15px 0px;
  width: 100%;
  text-decoration: none;
  color: #000000;
}

.sidePanel a:hover {
  /* color: #c20b66; */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: #F28CAC;
  transition: 0.3s;
}

.sidePanel a:active {
  background: #F63165;
}

#logout {
  margin-top: auto;
  width: 100%;
  text-align: center;
  padding: 15px;

  border-top: 1px solid #F63165;
}

#logout:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: #F28CAC;
  transition: 0.3s;
}

#logout:active {
  background: #F63165;
}
