#productChart {
  width: 95%;
  height: 80%;
  background-color: #ffffffea;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.350);

  display: flex;
  flex-direction: column;
  align-items: center;
}

#productChart h1 {
  color: #666666;
  font-size: 25px;
  padding: 10px;
  overflow: hidden;
}

#products {
  padding: 5px;
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

#products ul {
  list-style: none;
}

#elem{
  display: flex;
  flex-direction:column ;

}
#elem h2{
  padding-bottom: 4px;
}

#elem ul{
  padding: 5px 25px;
  border: 1px solid black;
 margin-bottom: 5px;

}

#elem li{
  padding: 1px;
}

#products::-webkit-scrollbar {
  background: transparent;
}
